.modal {
  max-height: 420px;
  display: block;
  border-radius: 2%;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.4);
  margin-bottom: 15px;
  background-color: white;
}

.modal .image-container {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.modal .image-container img {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
}

.modal .title {
  max-height: 80px;
}

.modal .content {
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 10px;
}